.barra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.barra select {
    margin :0 10px;
    padding: 10px;
    color:rgb(82, 82, 82);
    background-color: rgb(210, 209, 209);
    border:none;
    border-radius: 5px;
   cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.barra button {
    margin :0 10px;
    padding: 10px;
    background-color: rgb(12, 52, 133);
    color:whitesmoke;
    border:none;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
.barra button:hover {
    background-color: rgb(95, 155, 205);
    color:white;
}