.menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(190, 186, 186, 0.5);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    z-index: 10;
    width: 100%;

}
