.menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(252, 198, 99, 0.2);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    z-index: 10;
    width: 100%;

}
