.paginado {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    background-color: rgba(252, 198, 99, 0.3);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    z-index: 10;
    width: 100%;
}
.paginado button {
    background-color: rgba(26, 61, 130, 0.5);
    color:white;
    border:none;
    font-size: 1.4em;
margin: 0 10px;
padding: 5px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
.paginado button:hover {
    background-color: rgb(72, 101, 157);
    color:white;
}
.paginado span {
    margin: 0 10px;
    padding: 0;
    font-size: 1.3em;
   text-align: center;
    border:none;
   color:rgb(73, 73, 73);
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
