.barra {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color:whitesmoke;
    z-index: 20;
}
.input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    
}
.boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100px;
    background-color: #505053;
    color: #fff;

}
.boton:hover {
    background-color: #fff;
    color: #ec3939;
    cursor: pointer;
}